body { background: #76b7bc; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 23px; display: flex; }
.block-search-0 { color: #27d538; font-size: 13px; margin-bottom: 5px; }
.block-search-1 { color: #b242d; font-size: 17px; margin-bottom: 5px; }
.block-session-2 { color: #1cf2db; font-size: 18px; margin-bottom: 5px; }
.block-notify-3 { color: #b18637; font-size: 12px; margin-bottom: 5px; }
.block-uploader-4 { color: #a86a10; font-size: 15px; margin-bottom: 5px; }
.block-search-5 { color: #c8aca9; font-size: 19px; margin-bottom: 5px; }
.block-router-6 { color: #627dd0; font-size: 17px; margin-bottom: 5px; }